* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  color: #d7e3ec;
  background-image: url("images/IMG-3187.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
}

.grid {
  list-style: none;
  margin-left: -40px;
}

.gc {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -0.25em;
  min-height: 1px;
  padding-left: 40px;
  vertical-align: top;
}

.gc--1-of-3 {
  width: 33.33333%;
}

.gc--2-of-3 {
  width: 66.66666%;
}

.naccs {
  position: relative;
  max-width: 900px;
  margin: 100px auto 0;
}

.naccs .menu div {
  font-family: "Alegreya SC", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #eef3f7;
  padding: 15px 20px 15px 40px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.naccs .menu div:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.naccs .menu div span.light {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 24px;
  left: 15px;
  border-radius: 100%;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.naccs .menu div.active span.light {
  left: 0;
  height: 100%;
  width: 3px;
  top: 0;
  border-radius: 0;
}

.naccs .menu div.active {
  text-shadow: 0 0 28px #d3b1c2;
  padding: 15px 20px 15px 20px;
}

ul.nacc {
  position: relative;
  height: 0px;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li {
  padding: 3vh;
  border-radius: 1vh;
  border: 0.3vh solid rgba(166, 166, 166, 0.171);
  backdrop-filter: blur(5vh);
  background: rgba(57, 57, 57, 0.091);
  text-shadow: rgba(0, 0, 0, 0.717) 1px 2px 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  margin: 0;
  opacity: 0;
  transform: translateX(50px);
  position: absolute;
  list-style: none;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li.active {
  transition-delay: 0.3s;
  z-index: 2;
  opacity: 1;
  transform: translateX(0px);
}

ul.nacc li p {
  padding: 3vh;
  line-height: 3.5vh;
  text-shadow: rgba(0, 0, 0, 0.717) 1px 2px 3px;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: kiona;
  src: url(Kiona-Regular.ttf);
}
